/* You can add global styles to this file, and also import other style files */

@import "./styles/variable.scss";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: $Green200;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
